<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="./assets/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Andres Chavez. It uses data from weatherStack and mapBox</p>
        <img class="portrait" src="./assets/0.jpeg">
    </div>

    {{>footer}}
</body>
</html>